/*!
 * WebApp style v0.9.9
 * Copyright 2014 Gabriele-V
 *
 * WebApp style v1.2.0
 * Copyleft 2021 Maksim DzmitryewÌ†
 */

body
    {
        background-color: #eee;
    }

input:invalid
    {
        border-color: #b94a48;
        -webkit-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.075);
    }

table
    {
        border-collapse: separate;
        border-spacing: 0 5px;
    }

thead th
    {
        background-color: #419641;
        color: white;
    }

tbody td
    {
        background-color: #FFFFFF;
    }
        
tr td:first-child,
tr th:first-child 
    {
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
    }
    
tr td:last-child,
tr th:last-child
    {
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
    }
    
hr
    {
        display: block; height: 1px;
        border: 0; border-top: 1px solid #ccc;
        margin: 1em 0; padding: 0; 
    }

    
.tooltip-inner
    {
        white-space:pre-wrap;
    }

.text_align_center
    {
        text-align:center; 
    }

.text_align_right
    {
        text-align:right;
    }

.app_page_title
{
    padding-bottom: 20px;
}

.td_size_5
    {
        width: 5%;
    }

.td_size_100
    {
        width: 100%;
    }

.transaction-extra-columns {
    display: none;
    visibility: hidden;
}

.TrModify, .TrDuplicate {
    cursor: pointer;
}

.btn-block+.btn-block {
    margin-top: 0px;
}

.div_btn
{
    margin-bottom: 17px;
}

.div_btn_back
{
    padding-top: 17px;
    padding-bottom: 7px;
}

/* new transaction */

.form-transaction .help-block {
    clear: both;
}

.form-transaction .form-group label:not(.width100) {
    display: block;
    clear: both;
}

.form-transaction .form-group input[type="radio"] {
    width: 20px;
    height: 20px;
    margin-top: 15px;
    margin-bottom: 5px;
    float: left;
    clear: left;
}

.form-transaction .form-group input[type="radio"] ~ label {
    width: auto;
    padding-right: 10px;
    padding-left: 4px;
    margin-top: 15px;
    float: left;
    clear: right;
    font-weight: 400;
}

@media only screen and (min-width: 1024px) {
    th.transaction-extra-columns,
    td.transaction-extra-columns {
        display:  table-cell;
        visibility: visible;
    }
    .transaction-extra-columns {
        display: inline;
        visibility: visible;
    }
}

@media only screen and (max-width: 640px) {
    .form-transaction .help-block {
        height: 1px !important;
        margin-top: 2px !important;
    }
    .form-transaction .form-group {
        height: 30px;
    }
    .form-transaction .form-group label:not(.width100) {
        display: inline;
        float: left;
        width: 90px;
        max-width: 100px;
        margin-top: 6px;
    }
    .form-transaction .form-group input:not([type="file"]),
    .form-transaction .form-group select,
    .form-transaction .form-group textarea,
    .form-transaction .form-group span {
        width: calc(100% - 90px);
        max-width: 100%;
        float: left;
    }

    .form-transaction .form-group input[type="radio"] {
        width: 20px;
        float: left;
        height: 20px;
        clear: none;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .form-transaction .form-group input[type="radio"] ~ label {
        float: left;
        width: auto;
        padding-right: 10px;
        padding-left: 2px;
        margin-top: 0px;
    }
    .form-transaction .form-group span.twitter-typeahead input {
        width: 100%;
        max-width: 100%;
    }

    /* override twitter typeahead */
    .form-transaction .tt-menu {
        width: 95% !important;
        top: -200px !important;
    }

    .form-transaction label,
    .form-transaction .form-group {
        margin-bottom: 0px !important;
    }

    /* override bootstrap */
    .form-transaction textarea.form-control {
        height: 52px;
    }
}

@media only screen and (max-width: 385px) {
    .form-transaction .form-group label:not(.width100) {
        display: block;
        clear: both;
    }

    .form-transaction .form-group input[type="radio"]:first-of-type {
        clear: none;
        margin-left: 0px;
    }

    .form-transaction .form-group input[type="radio"] {
        clear: left;
        width: 20px;
        height: 20px;
        margin-bottom: 5px;
        margin-left: 90px;
        float: left;
    }

    .form-transaction .form-group input[type="radio"] ~ label {
        width: auto;
        padding-right: 10px;
        padding-left: 4px;
        float: left;
        clear: right;
        font-weight: 400;
    }
}

@media only screen and (max-width: 225px) {
    .form-transaction .form-group input[type="radio"]:first-of-type {
        clear: left;
    }
    .form-transaction .form-group input[type="radio"] {
        margin-left: 0px;
    }
}

@media only screen and (max-width: 767px) {
    .form-transaction .table-responsive {
        margin-top: 10px !important;
    }
}
