body
    {
        background-color: #eee;
    }

input:invalid
    {
        border-color: #b94a48;
        -webkit-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.075);
    }

table
    {
        border-collapse: separate;
        border-spacing: 0 5px;
    }

thead th
    {
        background-color: #419641;
        color: white;
    }

tbody td
    {
        background-color: #FFFFFF;
    }
        
tr td:first-child,
tr th:first-child 
    {
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
    }
    
tr td:last-child,
tr th:last-child
    {
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
    }